.texto{
    width: 200px;
    height: 900px;
    overflow:auto;
    background-color: #ccc;
    padding: 20px;
    border: 2px solid #ff0000;
}

.scrollbutton{
    width: 120px;
    height: 20px;
    border-radius: 15px;
    background-color: #0000ff;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 999;
    cursor: pointer;
    display: none;
    color: #ccc;
    text-align-last: center;
}